@import 'mixins';

// Variables
$font-size-base: 14px;
$text-color: #323b3d;
$text-color-hover: darken($text-color, 10%);

$cta-color: #d44a4a;

// Only have italic & bold italic
$alt-font: "ff-tisa-web-pro", serif;

// Base
* {
  @include box-sizing('border-box');
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  color: $text-color;
}

p {
  margin-top: 0;

  .dark & {
    color: #7d8b91;
  }
}

h1, h2, h3 {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

h1 {
  font-size: 31px;

  section.dark & {
    color: #fff;
  }
}

h2 {
  font-size: 20px;
  color: #7d8b91;

  &.subheader {
    font-style: italic;
    font-family: $alt-font;
  }
}

h3 {
  font-size: 20px;
  margin-bottom: .5em;

  .dark & {
    color: #fff;
  }
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $text-color-hover;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

// Layout
header{
  @include clearfix;
  padding: 2.5em .5em;

  .logo {
    float: left;
  }
}

.inner-wrap {
  margin: 0 auto;
  max-width: 1220px;
}

// Sections
section {
  padding: 3em .5em;

  &.dark {
    background: #0e1315;
  }

  &.hero {
    padding-bottom: 0;
  }

  &.z2 {
    z-index: 2;
    position: relative;
    background: #fff;
  }
}

// Modules
.centered {
  text-align: center;
}

.logo {
  display: block;
  width: 108px; height: 80px;
  @include background-size(108px, 80px);
  background-image: url(/images/logo.png); }

.top-menu { // ul
  display: block;
  float: right;
  margin-top: 1.2em;

  li {
    display: inline-block;
    margin-left: 1em;

    &.home {
      @media (max-width:350px) {display: none}
    }

    &.ios7 a {
      text-decoration:line-through; }

    &.twitter a {
      @include hide-text;
      display: block;
      top: 10px;
      position: relative;
      width: 32px; height: 32px;
      @include background-size(32px, 32px);
      background-image: url(/images/icon-twitter.png);
      padding: 0;
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }
  a {
    display: inline-block;
    padding: 0 0 .3em 0;
    border-bottom: 2px solid #fff;

    &:hover {
      border-bottom: 2px solid $text-color-hover;
    }
  }
}

.screenshot { // img
  margin-top: 1em;
  max-width: 1197px;
  position: relative;
  top: 6px;
  z-index: 1;
}

.itemlist-lite { // ul
  margin: 4em auto 0;
  max-width: 400px;

  li {
    text-align: center;
    margin-bottom: 3.5em;

    &:before {
      display: inline-block;
      content: " ";
      width: 80px; height: 80px;
      @include background-size(80px, 80px);
    }

    &.lightweight:before {
      background-image: url(/images/icon-lightweight.png); }
    &.quick:before {
      background-image: url(/images/icon-quick.png); }
    &.settings:before {
      background-image: url(/images/icon-settings.png);
    }
  }
}

@media (min-width:775px) {
  .itemlist-lite { //ul
    margin: 4em auto 0;
    max-width: 1020px;

    li {
      display: inline-block;
      width: 30%;
      margin-right: 4%;
      margin-bottom: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.itemlist-medium { // ul
  li {
    text-align: center;
    border-bottom: 2px solid #141b1e;
    padding: 3em 0;
  }

  .inner {
    margin: 0 auto;
    max-width: 400px;
  }

  img {
    max-width: 220px;
  }
}

@media (min-width:900px) {
  .itemlist-medium { // ul
    li {
      @include clearfix;
      text-align: left;
    }
    .inner {
      float: right;
      width: 70%;
      margin: 3.5em 0 0 0;
      max-width: none;
    }

    img {
      display: block;
      float: left;
      width: 220px;
    }
  }

}

.form-subscribe { // form
  @include clearfix;
  display: inline-block;
  width: 265px;
  margin: 1em 0 4em;

  input {
    display: block;
    float: left;
    border: none;
    padding: 0;
  }

  input[type="text"] {
    font-size: 15px;
    font-family: $alt-font;
    font-style: italic;
    padding: 0 0 0 15px;
    width: 205px; height: 45px;
    border: none;
    border-radius: 5px 0 0 5px; }

  input[type="button"] {
    width: 45px; height: 45px;
    background: url(/images/icon-form-btn.png) $cta-color center no-repeat;
    @include background-size(20px, 20px);
    border-radius: 0 5px 5px 0;

    &:hover {
      background-color: darken($cta-color, 5%);
    }
  }

}

.site-footer {
  margin-top: 3em;

  .logo {
    display: inline-block;
  }

  .form-subscribe input[type="text"] {
    border: 1px solid #eaeeef;
    height: 43px; width: 203px;
  }
}
