@import 'mixins';

// Variables
$font-size-base: 14px;
$text-color: #323b3d;
$text-color-hover: darken($text-color, 10%);

// Base
* {
  @include box-sizing('border-box');
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  color: $text-color;
}

h1 {
  font-size: 31px;
  font-weight: normal;
  text-align: center;
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $text-color-hover;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Layout
header{
  @include clearfix;
  padding: 2.5em .3em;
  .logo {
    float: left;
  }
}

// Sections
section.hero {
  background: #0e1315;
  padding: 2.5em .3em;
}




// Modules
.logo {
  display: block;
  width: 108px; height: 80px;
  background-size:108px 80px;
  background-image: url(/images/logo.png);
}

.top-menu { // ul
  display: block;
  float: right;
  margin-top: 2.2em;
  li {
    display: inline-block;
    margin-left: 1em;
  }
  a {
    display: inline-block;
    padding: 0 0 .3em 0;
    border-bottom: 2px solid #fff;

    &:hover {
      border-bottom: 2px solid $text-color-hover;
    }

    &.twitter {
      display: block;
      width: 32px; height: 32px;
      background-size:32px 32px;
      background-image: url(/images/icon-twitter.png);
    }
  }
}
