// Variables
block vars
doctype 5
html(lang="en")
  head
    title #{pageTitle}
    // Render head
    block head

  body
    header
      h1 Here comes header
    section.content
      // Render content
      block content