// Variables
block vars
doctype 5
html(lang="en")
  head
    title #{pageTitle}
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/app.css')
    script(type="text/javascript", src="//use.typekit.net/eyr1aev.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}

    // Render head
    block head

  body
    header.site-header
      .inner-wrap
        .logo
        nav
          ul.top-menu
            li.home: a(href="/") Home
            li: a(href="/about") About
            li.ios7: a(href="/ios7") iOS7
            li.twitter: a(href="https://twitter.com/MochilaMail") Twitter

    .content
      // Render content
      block content

    footer.centered.site-footer
      .logo
      h2.subheader Still not sure? Sign up for beta and find out.

      form.form-subscribe
        input(type="text", placeholder="Enter email for beta testing...")
        input(type="button", value="")